{% extends 'base/base.html' %}
{% load app_extras %}

{% block title %}
    Visualizar | Acompanhamento Diario
{% endblock %}
{% block resp %}Responsável: {{ projeto.responsavel }} {% endblock %}
{% block content %}
    <div class="container">
        <div class="panel">
            <div class="panel-heading">
                <h2>{{ projeto.nome_projeto }}</h2>
            </div>
            <div class="panel-body">


                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Data de Execução</label>
                        <p>{{ diario.data_execucao }}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <label>Previstos</label>
                        <p>{{ diario.cts_previstos }}</p>
                    </div>

                    <div class="col-md-3">
                        <label>Executados</label>
                        <p>{{ diario.cts_executados }}</p>
                    </div>

                    <div class="col-md-3">
                        <label>Bugs Blocantes</label>
                        <p>{{ diario.bugs_encontrados }}</p>
                    </div>

                    <div class="col-md-3">
                        <label>CTs Cancelados</label>
                        <p>{{ diario.cts_cancelados }}</p>
                    </div>
                </div>
                {% if projeto.data_conclusao != None %}
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Data de Conclusão</label>
                            <p>{{ projeto.data_conclusao|escape }}</p>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group row">
                    <div class="col-md-12">
                        <label>Observação</label>
                        {% if diario.cts_executados > 0 %}
                            <p>{{ diario.observacao|linebreaksbr }}</p>
                        {% else %}
                            <p>Não Executado</p>
                        {% endif %}
                    </div>
                </div>

                <nav class="nav-fill">
                    <div class="form-group">
                        <a class="btn btn-primary" id="btn-voltar" href="{% url 'sgteste_app:acompanhamento_diario' projeto_id=projeto.pk %}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Voltar
                        </a>
                    </div>
                </nav>

            </div>
        </div>
    </div>
{% endblock %}